{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "rules": {
    "no-plusplus": "off",
    "class-methods-use-this": "off",
    "max-len": [
      1,
      200
    ],
    "import/prefer-default-export": "off",
    "no-underscore-dangle": "off",
    "linebreak-style": [
      0,
      "windows"
    ],
    "semi": "off",
    "no-console": "off",
    "no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": true
      }
    ]
  }
}
