.device_disconnected {
    border-radius: 15px;
    border: black 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 16px;
}

.device_disconnected h1 {
    font-size: 50px;
}

.device_disconnected p, .device_disconnected img {
    margin: 16px auto;
}

.device_disconnected h1, .device_disconnected p, .device_disconnected div {
    text-align: center;
}

.device_disconnected p, .device_disconnected div {
    font-size: 21px;
}

.device_disconnected div {
    color: white;
    background: red;
    padding: 4px 42px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .56);
}
