#app {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

.background {
    background-color: black;
}

.popup {
    animation: popup .5s forwards;
}

.stadium-interactive {
    transition: left 2s;
}

.stadium-text {
    -webkit-text-stroke: 4px black;
    color: red;
}

.stadium-interactive:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

@keyframes popup {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
